body {
    margin: 0;
    padding: 0;
    background: url("img/Hostel4.jpg");
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    height: 500px;
}

.login-box {
    width: 320px;
    height: 420px;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
}

.login-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.abc {
    width: 100%;
    margin-bottom: 15px;
}

.login-box input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background-color: #6189f8;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background-color: #3665e6;
}

.checkbox {
    font-size: 14px;
    margin-bottom: 15px;
    color: darkgrey;
}

.login-box a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: darkgrey;
}